<!DOCTYPE html>
<html>

<head>
    <title>Sensor Data Graph</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <h1>Sensor Data Graph</h1>
    <form method="get" action="download">
        <button type="submit">Download CSV Data</button>
    </form>
    <h3>Internet: <span id="internet"></span></h3>
    <h3>Temperature: <span id="temp"></span></h3>
    <h2>Plant Water Alarm: <span id="plantWaterAlarm"></span></h2>
    <h2>Pump Water Alarm: <span id="pumpWaterAlarm"></span></h2>

    <table id="tableDetails" class="stripe" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Timestamp</th>
                <th>Pico ID</th>
                <th>Plant Water Alarm</th>
                <th>Pump Water Alarm</th>
                <th>Moisture</th>
                <th>Light</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Date</th>
                <th>Timestamp</th>
                <th>Pico ID</th>
                <th>Plant Water Alarm</th>
                <th>Pump Water Alarm</th>
                <th>Moisture</th>
                <th>Light</th>
            </tr>
        </tfoot>
    </table>

    <canvas id="moistureChart" width="800" height="300"></canvas>
    <canvas id="lightChart" width="800" height="300"></canvas>

    <script>
        $(document).ready(function () {
            // Helper function to create a chart
            function createChart(chartId, label, borderColor, suggestedMin, suggestedMax) {
                return new Chart(document.getElementById(chartId), {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: label,
                            data: [],
                            borderColor: borderColor,
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'second',
                                    stepSize: 1,
                                    displayFormats: {
                                        milisecond: 'h:mm:ss'
                                    }
                                },
                                maxTicksLimit: 50
                            },
                            y: {
                                suggestedMin: suggestedMin,
                                suggestedMax: suggestedMax
                            }
                        }
                    }
                });
            }

// Update moisture chart
            var moistureChart = createChart("moistureChart", "Moisture Value", "blue", 0, 100);

            // Update light chart
            var lightChart = createChart("lightChart", "Light Value", "orange", 0, 100);

            var table = $('#tableDetails').DataTable();

            updateGraph();
            setInterval(updateGraph, 5000); // Update the graph every 10 seconds
            updateHealth();
            setInterval(updateHealth, 30000);

            var AMOUNT_OF_READINGS = 100;

            function updateHealth() {
                $.ajax({
                    url: '/health',
                    type: 'GET',
                    success: function (response) {
                        var data = response;
                        var timestamp = data.timestamps[data.timestamps.length - 1];
                        var latestTemp = data.temp[data.temp.length - 1];
                        var latestInternet = data.internet[data.internet.length - 1];
                        $('#temp').text(timestamp + " | " + latestTemp);
			$('#internet').text(timestamp + " | " + latestInternet);
                    }
                 });
            }

            function updateGraph() {
                $.ajax({
                    url: '/update',
                    type: 'GET',
                    success: function (response) {
                        var data = response;

                        var updatedData = [];

                        for (var i = 0; i < data.timestamps.length; i++) {
                            
                            var date = new Date(parseInt(data.timestamps[i]) * 1000).toLocaleString();
                            var row = [
                                date,
                                data.timestamps[i],
                                data.pico_id[i],
                                data.plant_water_alarm_values[i],
                                data.pump_water_alarm_values[i],
                                data.moisture_values[i],
                                data.light_values[i]
                            ];
                            updatedData.push(row);

                        // Update plant water alarm
                        var plantWaterAlarm = data.plant_water_alarm_values[data.plant_water_alarm_values.length - 1];
                        $('#plantWaterAlarm').text(plantWaterAlarm === '1' ? 'Yes' : 'No');
                        
			table.clear();
                        table.rows.add(updatedData);
                        table.draw(false);

                        // Update pump water alarm
                        var pumpWaterAlarm = data.pump_water_alarm_values[data.pump_water_alarm_values.length - 1];
                        $('#pumpWaterAlarm').text(pumpWaterAlarm === '1' ? 'Yes' : 'No');

                        // Update chart data (show only the newest 100 readings)
                        var latestMoisture = data.moisture_values.slice(-AMOUNT_OF_READINGS);
                        var latestLight = data.light_values.slice(-AMOUNT_OF_READINGS);
                        var latestTimestamps = data.timestamps.slice(-AMOUNT_OF_READINGS).map(function (timestamp) {
                            return new Date(timestamp * 1000); // Convert Unix timestamp to milliseconds
                        });

                        moistureChart.data.labels = latestTimestamps;
                        moistureChart.data.datasets[0].data = latestMoisture;
                        moistureChart.update();

                        lightChart.data.labels = latestTimestamps;
                        lightChart.data.datasets[0].data = latestLight;
                        lightChart.update();
                    }
                }});


            }
        });
    </script>
</body>

</html>
